@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */

  /* ここに共通変数を置く */
  --color-clr-base-1: #0B0C0D;
  --color-clr-main-1: #1A1625; 
  --color-clr-primary-1: #416E98;
  --color-clr-light-1: #C0C0C0;
  --color-clr-white: #ffffff;

}

@theme inline {
  /* 
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  --color-background: var(--color-clr-base-1);
  --color-foreground: var(--color-clr-white);

  --color-clr-base-1: var(--color-clr-base-1);
  --color-clr-main-1: var(--color-clr-main-1); 
  --color-clr-primary-1: var(--color-clr-primary-1);
  --color-clr-light-1: var(--color-clr-light-1);
  --color-clr-white: var(--color-clr-white);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
span,
div {
	/* text-align: justify;
	font-feature-settings: "palt"; */
	/* // line-height: 1.8em; //これは@layer base {}の中では効かない
		//jsx中では、leading-**は、「!」を使用して詳細度を強くしている
		//そうでないと、globals.scssの方が詳細度が強くなる */
}
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
span,
div {
	/* line-height: 1.6em; */
	/* // line-height: 1.8em; //これは@layer base {}の中では効かない
	//jsx中では、leading-**は、「!」を使用して詳細度を強くしている
	//そうでないと、globals.scssの方が詳細度が強くなる */
}